/** Spacing **/
$crxSpacingXS: 5px;
$crxSpacingSM: 10px;
$crxSpacingMD: 15px;
$crxSpacingLG: 20px;
$crxSpacingXL: 30px;

// main color scheme
$crxPrimaryColor: #569fb6;
$crxPrimaryDarkColor: darken($crxPrimaryColor, 10);
$crxPrimaryDarkerColor: darken($crxPrimaryColor, 20);
$crxPrimaryLightColor: rgba($crxPrimaryColor, 0.15);
$crxBodyBgColor: #ffffff;
$crxTextColor: #707070;
$crxTextSecondaryColor: #112e3a;
$crxBorderColor: #707070;
$crxInfoColor: $crxPrimaryColor;
$crxSuccessColor: #49a261;
$crxWarningColor: #d38b10;
$crxErrorColor: #e1523d;
$crxDividerColor: #e3e3e3;
$crxLightGreyColor: #a6a6a6;
$crxLighterGreyColor: #d8dae2;

//severities
$crxSuccessMessageBgColor: $crxSuccessColor;
$crxWarnMessageBgColor: #ffba01;
$crxErrorMessageBgColor: $crxErrorColor;

//Global
$crxFontFamily: 'Roboto', sans-serif;
$crxSecondaryFontFamily: 'Roboto Condensed', sans-serif;
$crxFontSize: 14px;
$crxSmallFontSize: 12px;
$crxFontWeight: 300;
$crxHeaderFontWeight: 400;
$crxLineHeight: 1.5;
$crxTransitionDuration: 0.2s;
$crxDisabledOpacity: 0.5; //opacity of a disabled item

//highlight
$crxHighlightBgColor: $crxPrimaryColor;
$crxHighlightColorText: #ffffff;

//menus
$crxMenuWireframeIndex: 1100; // must be higher than PrimeReact Dialog zIndex

//input field (e.g. inputtext, spinner, inputmask)
$crxInputPaddingVertical: 8px;
$crxInputPaddingHorizontal: 8px;
$crxInputHeight: 35px;
$crxInputBgColor: #ffffff;
$crxInputBorder: 1px solid rgba($crxBorderColor, 0.5);
$crxInputShadow: 0 2px 4px 0 rgba(#000000, 0.08);
$crxInputFocusBorderColor: $crxBorderColor;
$crxInputGroupWidth: 340px;

//input switch
$crxInputSwitchSliderSize: 10px;

// button
$crxButtonFontSize: 18px;
$crxButtonFontWeight: 400;
$crxButtonBorderRadius: 1px;
$crxButtonTextOnlyPadding: 8px 1em;

//radiobutton
$crxRadioButtonIconWidth: 7px;
$crxRadioButtonIconHeight: 7px;
$crxRadioButtonBorder: 1px solid $crxBorderColor;
$crxRadioButtonActiveTextColor: $crxPrimaryColor;
$crxRadioButtonActiveBorderColor: 1px solid $crxBorderColor;

//steps
$crxStepsItemHeight: 26px;
$crxStepsContentBorder: rgba($crxTextColor, 0.5);

//tooltip
$crxTooltipBgColor: $crxPrimaryColor;

/** Page Template Sizes **/
$crxSidebarActiveWidth: 250px;
$crxSidebarInactiveWidth: 50px;
$crxFooterHeight: 50px;
$crxMaxContentWidth: 1230px;
$crxHeaderTopMargin: 35px;
$crxFooterHeight: $crxHeaderTopMargin + $crxSmallFontSize + $crxSpacingMD;

