@import '~@crx/react-ui/lib/scss/_variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .page {
    width: 600px;
    margin: 0 auto;
  }
  
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  //  .submit {
  //     background: greenyellow;
  // }
   

  .CurrencyForm {
    float: right;
    width: 100%;
    height: 100%;
  
    margin: 5px;
    padding: 10px 10px 10px 10px;
    font-family:Roboto;
    font-weight: 300;
  }

  .title {
    white-space: nowrap;
  }
  
  .LiquidityApp {
    width: 100%;
    height: 100%;
    background: lightblue;
    
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
  }
  
  .SplitPane {
    float: center;
    width: 100%;
    height: 100%;
  }
  
  .SplitPane-left {
    float: left;
    width: 100%;
    height: 100%;
    
  }
  
  .SplitPane-right {
    float: right;
    width: 100%;
    height: 100%;
  }
  
  .Simulator {
    width: 100%;
    height: 100%; 
    background: white;
    padding: 20px 10px 20px 10px; /* top right bottom left */
    
    box-sizing: border-box;
    text-align: center;
    font-family:Roboto;
    font-weight: 300;
    color: #636F78;
    border: 2px #112E3A; // C4D1D9
    border-radius: 3px;
    border-width: 3px;
  }

  .Simulator_selected {
    width: 100%;
    height: 100%; 
    background: white; //
    padding: 20px 10px 20px 10px; /* top right bottom left */
    box-sizing: border-box;
    text-align: center;
    font-family:Roboto;
    font-weight: 300;
    color: #112E3A;
    border: 2px #112E3A; // C4D1D9
    border-radius: 3px;
    border-width: 3px;
  }

  .Table_Overview {
    position: absolute;
    top: 120px;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
  
  .Optimizer {
    width: 100%;
    height: 100%; 
    background: white;  // rgba(255, 160, 122, 0.411);
    padding: 20px 10px 20px 10px;
    text-align: center;
    box-sizing: border-box;
    font-family:Roboto;
    font-weight: 300;
    color: #E1523D;
  }

  .Optimizer_selected {
    width: 100%;
    height: 100%; 
    background: white; // #E2523D;
    padding: 20px 10px 20px 10px;
    text-align: center;
    box-sizing: border-box;
    font-family:Roboto;
    font-weight: 300;
    color: #E1523D;
  }

  .Table_Opportunity {
    position: absolute;
    top: 95px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
  
  .Chart {
    width: 100%;
    height: 100%; 
    padding: 20px 10px 20px 10px;
  
    box-sizing: border-box;
  }
  
  .Details {
    width: 100%;
    height: 100%; 
    padding: 20px 10px 20px 10px;
  
    box-sizing: border-box;
    font-family: roboto;
  }

  .Overview {
    position: relative;
    top: 1px;

    float: left;
    width: 50%;
    height: 100%; 

    text-align: center;

    box-sizing: border-box;

    font-family:Roboto;
    font-weight: 300;
  }

  .Opportunity {
    position: relative;
    bottom: 15px;

    float: right;
    width: 50%;
    height: 100%; 

    text-align: center;
  
    box-sizing: border-box;

    font-family:Roboto;
    font-weight: 300;
  }

  .Title {
    font-family:Roboto;
    font-weight: 300;
  }

  .Explanation {
    font-family:Roboto;
    font-weight: 300;
  }

  .Details_Title {
    width: 100%;
    height: 100%;
    float: center;
  }
  
  .FieldDescriptor {
    float: left;
    width: 40%;
    height: 100%;
  }
  
  .TextInput {
    border-right: 0px solid #5D6063;
  }
  
  .ExecuteButton {
    margin-top: 15px;
    margin-right: 45px;
  
    box-sizing: border-box;
  }
  

  
  td {
    padding: 3px;
    text-align: right;
  }
  

  
  
  
  .container {
    display: flex;
    justify-content: center;
  }
  .buttonTrue {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttonFalse {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  
  
  
  
  
  .highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
  }
  
  #container {
    height: 400px;
  }
  
  .highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
  .rowC{display:flex; flex-direction:row;}

  
  
  
  









  
